UNIDAD 1/TI1.2  SOAP_DOTNET_CONUNI_GR08/02.CLICON/CLICON_GR08/CLICON_GR08/Connected Services/ReferenciaConUniCli/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PulgadasACentimetros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pulgadas" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PulgadasACentimetrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PulgadasACentimetrosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentimetrosAPulgadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centimetros" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentimetrosAPulgadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CentimetrosAPulgadasResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelciusAKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celcius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelciusAKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelciusAKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinACelcius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kelvin" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinACelciusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KelvinACelciusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramosAKilogramos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gramos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramosAKilogramosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GramosAKilogramosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramosAGramos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kilogramos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramosAGramosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilogramosAGramosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>